# Created by combining local and remote versions

### Build & Dependencies ###
.gradle/
.mvn/wrapper/maven-wrapper.jar
build/
dist/
target/
out/
node_modules/
!**/src/main/**/target/
!**/src/test/**/target/

### Compiled Output ###
*.class
*.jar
*.war
*.ear

### IDE Specific ###
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### OS Specific ###
.DS_Store
Thumbs.db

### Logs & Temp Files ###
*.log
*.tmp
*.bak
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Environment/Config Files ###
.env
.env.local
.env.development
.env.production

### Other ###
HELP.md
*.sql
*.sql.gz